# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
env/
venv/
ENV/
env.bak/
venv.bak/
myenv/

# Django stuff
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3
db.sqlite3
*.sqlite3-journal

# Django migrations
*/migrations/*
*.egg-info/

# Media files
media/

# Static files
staticfiles/

# Jupyter Notebook files
.ipynb_checkpoints

# VSCode
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store